<div class="container">
    <div class="jumbotron">
            <div class="input-group">
                <span class="input-group-addon">Company Name: </span>
                <input type="text" name="compName" class="form-control" ng-model="ctrl.compName">
            </div>
    </div>

    <div class="list" ng-show="ctrl.companies">
        <div class="company col-lg-3 col-md-4 col-sm-6" ng-repeat="company in ctrl.companies | filter:ctrl.compName | orderBy:'name'">
            <img src="../images/thumbnails/no-default-thumbnail.png" alt="no-default-thumbnail.png" class="img-thumbnail">
            <h4>{{company.name}}</h4>
            <button type="button" class="btn btn-default" ng-click="ctrl.gotoDashboard(company.id,company.name)">Select</button>
        </div>
    </div>
    <div class="list" ng-hide="ctrl.companies">
        <h1>Company(s) that you are searching for cannot be found. Please try again with a different search term.</h1>
    </div>
</div>