.company {
    padding-bottom: 20px;
}

.list .company img {
    width: 240px;
    height: 300px;
}

.list .company button {
    width: 100%;
    padding: 10px 0;
}

.row.content {
    height: 1500px
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}